* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* Base */
body {
    background: linear-gradient(180deg, #0b0f1a, #020617);
    color: #f8fafc;
}

/* Navbar */




.logo {
    font-size: 26px;
    font-weight: 800;
    color: #ff2e63;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff2e63;
}

.banner {
    height: 85vh;
    background: url('gym11.jpeg') center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
}

.banner-content {
    position: relative;
    max-width: 550px;
}

.banner-content h1 {
    font-size: 52px;
    margin-bottom: 15px;
    color: #ffffff;
}

.banner-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #e5e7eb;
}



/* Cards */
.cards {
    padding: 90px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 35px;
    background: linear-gradient(180deg, #020617, #0b0f1a);
}

.card {
    background: #020617;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-12px);
    box-shadow: 0 25px 60px rgba(255, 46, 99, 0.35);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content {
    padding: 25px;
}

.card-content h3 {
    margin-bottom: 10px;
    color: #ff2e63;
}

.card-content p {
    font-size: 15px;
    line-height: 1.6;
    color: #c7d2fe;
}

/* Footer */
.footer {
    background: linear-gradient(180deg, #020617, #000000);
    padding: 50px 20px;
    text-align: center;
    border-top: 1px solid #1e293b;
}

.footer-content h2 {
    color: #ff2e63;
    margin-bottom: 10px;
}

.footer-content p {
    margin-bottom: 15px;
    color: #9ca3af;
}

.footer-content span {
    font-size: 14px;
    color: #6b7280;
}
.gym-banner {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  object-position: center;
  display: block;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE */
body {
  background: 180deg, #0b0f1a, #020617;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MAIN SECTION */
.login-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* CONTAINER */
.login-container {
  background:#1e293b;
  width: 900px;
  max-width: 100%;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/* IMAGE SIDE */
.login-image {
  flex: 1;
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-image img {
  width: 100%;
  max-width: 350px;
}

/* FORM SIDE */
.login-form {
  flex: 1;
  padding: 40px;
  color: white;
  
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #ffffff;
}

/* SOCIAL */
.social-login {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.social-login span {
  font-size: 14px;
  color: #555;
}

.social-login a {
  width: 36px;
  height: 36px;
  background: #0d6efd;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* DIVIDER */
.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #999;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  height: 1px;
  width: 40%;
  background: #ddd;
  position: absolute;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

/* INPUTS */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid  #ff2e63;
  border-radius: 6px;
  outline: none;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
  pointer-events: none;
  transition: 0.3s;
  background: ff2e63;
  padding: 0 5px;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -6px;
  font-size: 12px;
  color: #0d6efd;
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 25px;
}

.options a {
  text-decoration: none;
  color: #0d6efd;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #0b5ed7;
}

/* REGISTER */
.register-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-text a {
  color: #dc3545;
  text-decoration: none;
}

/* SELECT DROPDOWN */
.input-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  background: #fff;
  font-size: 14px;
  appearance: none;
  cursor: pointer;
}

/* Arrow */
.input-group select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='gray'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px;
}

/* Label floating */
.input-group select:focus + label,
.input-group select:valid + label {
  top: -6px;
  font-size: 12px;
  color: #0d6efd;
}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar{
    width:100%;
    background:#0b0b0b;
    border-bottom:1px solid #222;
    position:sticky;
    top:0;
    z-index:1000;
}

/* CONTAINER */
.nav-container{
    max-width:1200px;
    margin:auto;
    padding:15px 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* LOGO */
.nav-logo img{
    height:45px;
}

/* MENU */
.nav-menu{
    display:flex;
    gap:25px;
}

.nav-menu a{
    color:#fff;
    text-decoration:none;
    font-size:15px;
    position:relative;
}

/* HOVER UNDERLINE */
.nav-menu a::after{
    content:'';
    width:0;
    height:2px;
    background:#ff1313;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.3s;
}

.nav-menu a:hover::after{
    width:100%;
}

/* BUTTON */


.nav-btn{
    background:#ff1313;
    color:#fff;
    padding:10px 22px;
    text-decoration:none;
    border-radius:3px;
    font-size:14px;
    margin-left:-600px; 
    display:inline-block;
}


.nav-btn:first-child{
    margin-left:0;
}



/* RESPONSIVE */
@media(max-width:768px){
    .nav-menu{
        display:none;
    }
}
/* ABOUT US Heading */
.h1 {
    text-align: center;
    margin-top: 40px;
    color: wheat;
    
}

.h1 h1 {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    color: wheat;
}

/* Paragraph Text */
.pt {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.pt p {
    max-width: 900px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    color: #7e7d7d;
    padding: 0 20px;
}
/* MEMBERSHIPS Heading */
.h1 {
    text-align: center;
    margin: 60px 0 30px 0;
}

.h1 h1 {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    color:  #7e7d7d;
}

/* Cards Section */
.cards1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 40px 60px;
    flex-wrap: wrap;
}

/* Single Card */
.card2 {
    width: 320px;
    background: #d8d8d8;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect */
.card2:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

/* Card Image */
.card2 img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

/* Card Content */
.card-content {
    padding: 20px;
    text-align: center;
}

/* Card Title */
.card-content h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

/* Price */
.card-content h4 {
    font-size: 20px;
    color: #e63946;
    margin-bottom: 15px;
}

/* List */
.card-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-content ul li {
    font-size: 15px;
    padding: 8px 0;
    color: #555;
    border-bottom: 1px solid #eee;
}

/* Last item border remove */
.card-content ul li:last-child {
    border-bottom: none;
}

/* Responsive */
@media (max-width: 992px) {
    .cards1 {
        flex-direction: column;
        align-items: center;
    }
}
